body {
    background: rgba(0, 30, 184, 0.7);
    border-color: #1c1f23;
}

label {
    background: rgba(0, 30, 184, 0.7);
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    text-align: center;
}

input, label, a {
    color: black;
}

thead tr{
    background-color: black;
    color: white;
}

tbody tr:nth-child(even){
    background: #90b5e3;
}

tbody tr:nth-child(odd){
    background: #a7b2bd;
}


.visible{
    display:inline;
}

.none{
    display:none;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle-lg {
    width: 120px;
    height: 120px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 350%;
}

.center {
    margin: auto;
    width: 50%;
}