<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>FilmingApp | Aplicación de visualización de información de películas y sus repartos</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Visualice la información que desee de nuestro catálogo de películas y de distintos actores</h1>
        <hr>
        <div class="card-group">
            <div class="card">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-card-list"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path fill-rule="evenodd"
                          d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
                    <circle cx="3.5" cy="5.5" r=".5"/>
                    <circle cx="3.5" cy="8" r=".5"/>
                    <circle cx="3.5" cy="10.5" r=".5"/>
                </svg>
                <div class="card-body">
                    <h3 class="card-title">Listado cursos</h3>
                    <a class="page-link" th:href="@{/films/listado}">
                        Listado cursos
                    </a>
                </div>

            </div>
            <div class="card">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                     class="bi bi-vector-pen" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908l-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
                    <path fill-rule="evenodd" d="M2.832 13.228L8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"/>
                </svg>
                <div class="card-body">
                    <h3 class="card-title">Nuevo curso</h3>
                    <a class="page-link" th:href="@{/actors/nuevo}">
                        Crear nuevo curso
                    </a>
                </div>
            </div>

            <div class="card">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                     class="bi bi-search" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd"
                          d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>
                <div class="card-body">
                    <h3 class="card-title">Buscar cursos</h3>
                    <a class="page-link" th:href="@{/ccursos/buscar}">
                        Buscar cursos
                    </a>
                </div>

            </div>
        </div>
    </div>
</body>
</html>