<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:title="${title}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script th:src="@{/js/users.js}"></script>
    <script th:src="@{/js/httpRequests.js}"></script>
</head>
<body>
    <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
        <nav th:replace="navbar::navbar"></nav>
        <h1 class="text-center">Catálogo de usuarios</h1>
        <hr>
        <div class="container card">
            <div class="container" style="margin-top: 10px;">
                <h3>Buscar usuario:</h3>
                <form id="searchUserForm">
                    <div id="search" class="container card" style="padding-top: 10px; padding-bottom: 10px;">
                        <div>
                            <input type="radio" id="radioSearchUsername" name="selectSearch" onClick="selectedOption()" value="username" checked>
                            <label for="radioSearchUsername">Búsqueda por nombre de usuario</label>
                            <input type="radio" id="radioSearchEmail" name="selectSearch" onClick="selectedOption()" value="email">
                            <label for="radioSearchEmail">Búsqueda por email</label>
                        </div>
                        <div class="container card">
                            <div class="visible row" id="searchingByUsername" style="margin:10px;">
                                <label for="searchUsername">Realice su búsqueda según su nombre de usuario:</label>
                                <input id="searchUsername" type="text" placeholder="Nombre de usuario">
                            </div>
                            <div class="none row" id="searchingByEmail"  style="margin:10px;">
                                <label for="searchEmail">Realice su búsqueda según su email de usuario:</label>
                                <input id="searchEmail" type="text" placeholder="Email de usuario">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center" style="margin-top:10px;">
                            <a class="btn btn-primary" onClick="searchUsers()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                                Buscar
                            </a>
                        </div>
                    </div>
                </form>
                <div sec:authorize="hasAuthority('admin')" class="container"  style="margin-top:10px;">
                    <div class="row col-3">
                        <a class="btn btn-success" th:href="@{/users/new}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                            </svg>
                            Nuevo usuario
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" >
                        <table sec:authorize="hasAuthority('admin')" class="table table-border" style="table-layout: fixed; word-wrap: break-word;">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" style="display:none;"></th>
                                <th scope="col">Nombre de usuario</th>
                                <th scope="col">Email de usuario</th>
                                <th scope="col">Rol</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${listUsers}">
                                <th th:if="${user.getEmail() != email}" scope="row" th:id="${user.getIdUser()}" name="id" style="display:none;" th:text = "${user.getIdUser()}"></th>
                                <td th:if="${user.getEmail() != email}" colspan="1" name="username" th:text = "${user.getUsername()}"></td>
                                <td th:if="${user.getEmail() != email}" colspan="1" name="email" th:text = "${user.getEmail()}"></td>
                                <td th:if="${user.getEmail() != email}" colspan="1" name="rol" th:text = "${user.getRoles().size()>0} ? ${user.getRoles().get(0).getAuthority()} : 'No tiene'"></td>
                                <td th:if="${user.getEmail() != email}">
                                    <a class="btn btn-primary btn-circle request-user" onClick="requestUser()" th:idUser="${user.getIdUser()}" title="Consultar datos de usuario">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg>
                                    </a>
                                    <a class="btn btn-success btn-circle edit-user" onClick="editUser()" th:idUser="${user.getIdUser()}" title="Modificar datos de usuario">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    </a>
                                    <a class="btn btn-danger btn-circle delete-user" th:idUser="${user.getIdUser()}" title="Eliminar usuario">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </a>
                                    <a class="btn btn-warning btn-circle accept-user" th:if="${user.getRoles().size() == 0}" th:idUser="${user.getIdUser()}" title="Aceptar solicitud">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                        </svg>
                                    </a>
                                    <a class="btn btn-warning btn-circle remove-user" th:if="${user.getRoles().size() == 0}" th:idUser="${user.getIdUser()}" title="Denegar solicitud">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                                            <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                                        </svg>
                                    </a>
                                    <a class="btn btn-warning btn-circle increase-rol" th:if="${user.getRoles().size() > 0 && user.getRoles().get(0).getAuthority() == 'user'}"  th:idUser="${user.getIdUser()}" title="Subir a rol de administrador">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                        </svg>
                                    </a>
                                    <a class="btn btn-warning btn-circle decrease-rol" th:if="${user.getRoles().size() > 0 && user.getRoles().get(0).getAuthority() == 'admin'}" th:idUser="${user.getIdUser()}" title="Bajar a rol de usuario">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center" >
                        <nav th:replace="paginator-nav :: paginator"></nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>