<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title th:title="${title}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script th:src="@{/js/updateActor.js}"></script>
    <script th:src="@{/js/insertFilmActor.js}"></script>
    <script th:src="@{/js/removeActorFilm.js}"></script>
    <script th:src="@{/js/httpRequests.js}"></script>
    <script th:src="@{/js/formTools.js}"></script>
</head>
<body>
    <div class="container" style="margin-top:20px; margin-bottom: 20px">
        <h1 class="text-center" th:text="${header}"></h1>
        <hr>
        <div class="container card">
            <div class="d-flex justify-content-center" style="margin-top:10px;">
                <div class="container card">
                    <div class="col-sm-1"></div>
                    <div class="container col-sm-10 mx-auto" style="margin-top:10px; margin-bottom: 10px;">
                        <img th:src="${actor.getImage()}" style="width:90%;">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="container card">
                    <form id="form-actor" style="margin: 10px;">
                        <input th:id="${actor.getIdActor()}" name="idActor" style="display: none;" th:value="${actor.getIdActor()}" th:readonly="${mode == 'request'}">
                        <div class="row form-inline" style="margin-top:10px;">
                            <label for="name" class="card-title font-weight-bold" style="margin-right:5px;"> Nombre:</label>
                            <input id="name" name="name" type="text" th:value="${actor.getName()}" th:readonly="${mode == 'request'}">
                        </div>
                        <div class="row form-inline" style="margin-top:10px;">
                            <label for="birthDate" class="card-title font-weight-bold" style="margin-right:5px;">Fecha de nacimiento:</label>
                            <input id="birthDate" name="birthDate" type="date" th:value="${actor.getBirthDateFormat()}" th:readonly="${mode == 'request'}">
                        </div>
                        <div class="row form-inline" style="margin-top:10px;">
                            <label for="countryBirth" class="card-title font-weight-bold" style="margin-right:5px;">País de nacimiento:</label>
                            <input id="countryBirth" name="countryBirth" type="text" th:value="${actor.getCountryBirth()}" th:readonly="${mode == 'request'}">
                        </div>
                        <div class="row form-inline" style="margin-top:10px;">
                            <label for="image" class="card-title font-weight-bold" style="margin-right:5px;">URL de la imagen:</label>
                            <input id="image" name="image" type="text" th:value="${actor.getImage()}" th:readonly="${mode == 'request'}">
                        </div>
                        <div class="d-flex justify-content-center" style="margin-top:10px;">
                            <button id="sendForm" type="submit" class="btn btn-primary"  th:if="${mode == 'edit'}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                                    <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                                </svg>
                                Actualizar datos del actor
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex justify-content-center container card" style="margin:10px;">
                <div class="row">
                    <div class="d-flex d-inline container" style="margin-top:10px; margin-bottom: 10px;">
                        <div th:classappend="${mode == 'edit'} ? 'col-sm-9' : 'col-sm-12'">
                            <h2>Películas:</h2>
                        </div>
                        <div class="col-sm-3 d-flex justify-content-end" th:if="${mode == 'edit'}" >
                            <a id="new-film-actor" class="btn btn-success" onClick="insertFilmActor();" th:idActor="${actor.getIdActor()}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                </svg>
                                Insertar nuevos actores al reparto
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex d-inline justify-content-center container card col-sm-2" th:each="film : ${actor.getFilms()}" style="margin-top:10px; margin-bottom: 10px;">
                        <img th:src="${film.getImage()}" style="margin-top:10px; margin-bottom: 10px;">
                        <div class="card-body">
                            <h5 th:text="${film.getTitle()}"></h5>
                            <a class="btn btn-danger btn-circle delete-relation" th:if="${mode == 'edit'}" th:idActor="${actor.getIdActor()}" th:idFilm="${film.getIdFilm()}" title="Eliminar película del actor">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center" style="margin:10px;">
                <div class="col-sm-4"></div>
                <div class="d-flex col-sm-4 justify-content-center">
                    <a class="btn btn-secondary" th:href="@{/actors}" style="margin-left:5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                        Volver atrás
                    </a>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</body>
</html>