<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:title="${title}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script th:src="@{/js/profile.js}"></script>
    <script th:src="@{/js/critics.js}"></script>
    <script th:src="@{/js/httpRequests.js}"></script>
</head>
<body>
    <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
        <nav th:replace="navbar::navbar"></nav>
        <h1 class="text-center">Catálogo de críticas</h1>
        <hr>
        <div class="container card">
            <div class="container" style="margin-top: 10px;">
                <h3>Buscar críticas:</h3>
                <form id="searchCriticForm">
                    <div id="search" class="container card" style="padding-top: 10px; padding-bottom: 10px;">
                        <div>
                            <input type="radio" id="radioSearchAllCritics" name="selectSearch" onClick="selectedOption()" value="allCritics">
                            <label for="radioSearchAllCritics">Todos los comentarios disponibles</label>
                            <input type="radio" id="radioSearchOwnCritics" name="selectSearch" onClick="selectedOption()" value="ownCritics" th:checked="${typeSearch == 'ownCritics'}? checked">
                            <label for="radioSearchOwnCritics">Mis comentarios</label>
                            <input type="radio" id="radioSearchTitle" name="selectSearch" onClick="selectedOption()" value="title" th:checked="${typeSearch == 'title'}? checked">
                            <label for="radioSearchTitle">Títulos de película</label>
                        </div>
                        <div class="container card">
                            <div id="searchingByTitle" class="none row" style="margin:10px;">
                                <label for="searchTitle">Realice su búsqueda por el título de la película:</label>
                                <input id="searchTitle" type="text" placeholder="Título de la película">
                            </div>
                        </div>
                        <div id="searchButton" class="d-flex justify-content-center" style="margin-top:10px;">
                            <a class="btn btn-primary" onClick="searchCritics()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                                Buscar
                            </a>
                        </div>
                    </div>
                </form>
                <div sec:authorize="isAuthenticated()" class="container"  style="margin-top:10px;">
                    <div class="row col-3">
                        <a class="btn btn-success" th:href="@{/critics/new}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                            </svg>
                            Nuevo comentario
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" >
                        <table sec:authorize="isAuthenticated()" class="table table-border" style="table-layout: fixed; word-wrap: break-word;">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" style="display:none;"></th>
                                <th scope="col">Nombre de usuario</th>
                                <th scope="col">Título de película</th>
                                <th scope="col">Puntuación</th>
                                <th scope="col">Fecha de crítica</th>
                                <th scope="col">Portada de la película</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="critic : ${listCritics}">
                                <th scope="row" th:id="${critic.getIdCritic()}" name="id" style="display:none;" th:text = "${critic.getIdCritic()}"></th>
                                <td colspan="1" name="username" th:text = "${critic.getUser().getUsername()}"></td>
                                <td colspan="1" name="title" th:text = "${film.getFilmFromListByIdFilm(listFilms, critic.getIdFilm()).getTitle()}"></td>
                                <td colspan="1" name="mark" th:text = "${critic.getMark()}"></td>
                                <td colspan="1" name="date-critic" th:text = "${critic.getDateCritic()}"></td>
                                <td colspan="1" name="image">
                                    <img th:src="${film.getFilmFromListByIdFilm(listFilms, critic.getIdFilm()).getImage()}" class="rounded mx-auto d-block" style="width:80px">
                                </td>
                                <td >
                                    <a class="btn btn-primary btn-circle request-critic" onClick="requestCritic()" th:idCritic="${critic.getIdCritic()}" title="Consultar datos de la crítica">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg>
                                    </a>
                                    <a th:if="${critic.getUser().getIdUser() == userLogged.getIdUser()}" class="btn btn-success btn-circle edit-critic" onClick="editCritic()" th:idCritic="${critic.getIdCritic()}" title="Modificar datos de la crítica">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    </a>
                                    <a th:if="${critic.getUser().getIdUser() == userLogged.getIdUser()}" class="btn btn-danger btn-circle delete-critic" th:idCritic="${critic.getIdCritic()}" title="Eliminar crítica">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center" >
                        <nav th:replace="paginator-nav :: paginator"></nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>